﻿<h1>Home Page</h1>

<div>
    <button onclick="signIn()">SignIn</button>
</div>

<div>
    <button onclick="signOut()">Sign Out</button>
</div>

<div>
    <button onclick="callApi()">Call Api</button>
</div>

@*<script src="~/sign-in.js"></script>*@
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/oidc-client/1.9.1/oidc-client.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>*@
<script src="~/oidc-client-1.9.1.min.js"></script>
<script src="~/axios.min-0.19.2.js"></script>
<script src="~/main.js"></script>