﻿@*<button onclick="extractTokens()">Extract Token</button>

    <script src="~/sign-in-callback.js"></script>*@

@*<script src="https://cdnjs.cloudflare.com/ajax/libs/oidc-client/1.9.1/oidc-client.min.js"></script>*@
<script src="~/oidc-client-1.9.1.min.js"></script>

<script>
    var userManger = new Oidc.UserManager({
        userStore: new Oidc.WebStorageStateStore({
            store: window.localStorage
        })
    });

    userManger.signinCallback().then(res => {
        console.log(res);

        window.location.href = '/home/index';
    })
</script>