﻿/*
    color:
    light: #f8f9fa => rgb(248, 249, 250)
    warning: #ffc107 => rgb(255, 193, 7)
    warning > hover: #e0a800
    dark: #343a40 => rgb(52, 58, 64)
    success: #28a745
    success > hover: #218838
    secondary: #6c757d
    primary: #007bff
    info: #17a2b8
    info > hover: #138496
    danger: #dc3545 => 	rgb(220, 53, 69)
    danger > hover: #c82333
    orange: #fd7e14
    purple: #6f42c1
    pink: #e83e8c
    card > border-color: rgba(0, 0, 0, 0.125)
    card > card-header > background: rgba(0, 0, 0, 0.03)

    alert > background
    primary: #cce5ff
    secondary: #e2e3e5
    success: #d4edda
    indo: #d1ecf1
    warning: #fff3cd
    danger: #f8d7da
    light: #fefefe
    dark: #d6d8d9

    col-X: 0 - 575
    col-sm-X: 576 - 767;
    col-md-X: 768 - 991;
    col-lg-X: 992 - 1199;
    col-xl-X: 1200 - X;

    h1: 2.5rem
    h2: 2rem
    h3: 1.75rem
    h4: 1.5rem
    h5: 1.25rem
    h6: 1rem
    p: none
    small: none

    1rem = 1em = 16px
    
    fa-1x: 1em
    fa-2x: 2em
    fa-3x: 3em
    ...
    fa-10x: 10em
*/

/*#region BOOTSTRAP*/
:root {
    --font-family-sans-serif: "WebYekan", "IranSans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: "WebYekan", "IranSans", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

@font-face {
    font-family: "WebYekan";
    src: url('../font/WebYekan.eot'); /* IE9 Compat Modes */
    src: url('../font/WebYekan.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font/WebYekan.svg#WebYekan') format('svg'), /* Legacy iOS */
    url('../font/WebYekan.woff') format('woff'), /* Pretty Modern Browsers */
    url('../font/WebYekan.ttf') format('truetype'); /* Safari, Android, iOS */
    font-weight: normal;
    font-style: normal;
}

body {
    direction: rtl;
    /*font-family: "WebYekan", "IranSans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", 
        Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";*/
    font-family: "WebYekan";
}

pre,
code,
kbd,
samp {
    font-family: "WebYekan", "IranSans", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size: 1em;
}

.tooltip {
    font-family: "WebYekan", "IranSans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.popover {
    font-family: "WebYekan", "IranSans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.text-monospace {
    font-family: "WebYekan", "IranSans", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

hr {
    background: #f8f9fa;
}

ul {
    padding-right: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none !important;
}

select {
    text-align-last: center;
}

input {
    text-align: center;
}

    input[type = checkbox] {
        cursor: pointer;
    }

    /*input[name=Email],
    input[name=Password],
    input[name=ConfirmPassword],
    input[name=Priority],
    input[name=Link],
    input[name=Website],
    input[name=Linkedin],
    input[name=Facebook],
    input[name=Instagram],
    input[name=Twitter],
    input[name=Telegram],
    input[name=Whatsapp],
    input[type=email],
    input[type=password],
    input[type=tel],
    input[type=number] {
        direction: ltr;
    }*/

p, a, h1, h2, h3, h4, h5, h6, li {
    text-align: right;
}

p, h1, h2, h3, h4, h5, h6, label, .alert {
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .dropdown:hover > .dropdown-menu {
        display: block;
    }
}

.dropdown-menu {
    text-align: right;
    right: 0;
    margin: 0;
    padding: 0;
    border: none;
    /*background-color: #343a40;*/
    background: none;
}

    .dropdown-menu .dropdown-item,
    .dropdown-menu .dropdown-item {
        padding: 0.5rem;
        border-radius: 0.25rem;
        color: #f8f9fa;
        background-color: #343a40;
        animation: dropdown-item-rotate 1.5s ease 1;
    }
        .dropdown-menu .dropdown-item:hover,
        .dropdown-menu .dropdown-item:focus {
            /*text-decoration: none;
            color: #343a40;
            background-color: #f8f9fa;*/
        }

    @keyframes dropdown-item-rotate {
        0% {
            transform: perspective(600px) rotateY(90deg);
        }

        100% {
            transform: perspective(600px) rotateY(0deg);
        }
    }

    .dropdown-menu .dropdown-item:nth-of-type(1) {
        animation-delay: 0s;
    }

    .dropdown-menu .dropdown-item:nth-of-type(2) {
        animation-delay: 0.1s;
    }

    .dropdown-menu .dropdown-item:nth-of-type(3) {
        animation-delay: 0.2s;
    }

    .dropdown-menu .dropdown-item:nth-of-type(4) {
        animation-delay: 0.3s;
    }

    .dropdown-menu .dropdown-item:nth-of-type(5) {
        animation-delay: 0.4s;
    }

    .dropdown-menu .dropdown-item:nth-of-type(6) {
        animation-delay: 0.5s;
    }

    .dropdown-menu .dropdown-item:nth-of-type(7) {
        animation-delay: 0.6s;
    }

    .dropdown-menu .dropdown-item:nth-of-type(8) {
        animation-delay: 0.7s;
    }

    .dropdown-menu .dropdown-item:nth-of-type(9) {
        animation-delay: 0.8s;
    }

    .dropdown-menu .dropdown-item:nth-of-type(10) {
        animation-delay: 0.9s;
    }

    .dropdown-menu .dropdown-item:nth-of-type(11) {
        animation-delay: 1s;
    }

    .dropdown-menu .dropdown-item:nth-of-type(12) {
        animation-delay: 1.1s;
    }

    .dropdown-menu .dropdown-item:nth-of-type(13) {
        animation-delay: 1.2s;
    }

    .dropdown-menu .dropdown-item:nth-of-type(14) {
        animation-delay: 1.3s;
    }

    .dropdown-menu .dropdown-item:nth-of-type(15) {
        animation-delay: 1.4s;
    }

    .dropdown-menu .dropdown-item:nth-of-type(16) {
        animation-delay: 1.5s;
    }

    .dropdown-menu .dropdown-item:nth-of-type(17) {
        animation-delay: 1.6s;
    }

    .dropdown-menu .dropdown-item:nth-of-type(18) {
        animation-delay: 1.7s;
    }

    .dropdown-menu .dropdown-item:nth-of-type(19) {
        animation-delay: 1.8s;
    }

    .dropdown-menu .dropdown-item:nth-of-type(20) {
        animation-delay: 1.9s;
    }

.table {
    text-align: right;
}

.media {
    /*border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px;*/
}

.list-inline .list-inline-item {
    margin: 0 0 0 1rem !important;
}

    .list-inline .list-inline-item:not(:last-child) {
        margin: 0;
    }

.card {
    margin-bottom: 1rem;
}

.carousel-inner .carousel-caption {
    bottom: 40px;
}

    .carousel-inner .carousel-caption a:hover {
        color: #dc3545 !important;
    }

.carousel-inner img {
    width: 100%;
    /*min-height: 215px;
    max-height: 610px;*/
}

.carousel-indicators {
    z-index: 7;
}

    .carousel-indicators .active {
        background-color: #ffc107;
    }

.carousel-control-prev,
.carousel-control-next {
    opacity: 1;
    width: 10%;
    transition: 0.5s;
}

    .carousel-control-prev:hover,
    .carousel-control-prev:focus,
    .carousel-control-next:hover,
    .carousel-control-next:focus {
        opacity: 1;
        background-color: rgba(52, 58, 64, 0.5);
    }

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffc107' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffc107' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.pagination {
    margin: 1rem 0 0.5rem;
}

    .pagination .page-item .page-link {
        background: none;
        border: none;
        color: #343a40;
        transition: 0.5s;
    }

        .pagination .page-item .page-link:hover {
            background: #343a40;
            color: #f8f9fa !important;
        }

    .pagination .page-item:first-child .page-link {
        border-radius: 0 5px 5px 0;
    }

    .pagination .page-item:last-child .page-link {
        border-radius: 5px 0 0 5px;
    }

    .pagination .page-item.active .page-link {
        background: #ffc107;
        color: #343a40 !important;
    }

        .pagination .page-item.active .page-link:hover {
            background: #343a40;
            color: #f8f9fa !important;
        }

.close {
    opacity: 1;
    color: #f8f9fa !important;
}

.modal-header .close {
    padding: 0.375rem 0.75rem;
    margin: 0;
}

.nav-tabs {
    border-color: #343a40;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    color: #f8f9fa !important;
    background-color: #343a40;
    border-color: #343a40;
}

.nav-tabs .nav-link {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #343a40;
}

    .nav-tabs .nav-link:hover,
    .nav-tabs .nav-link:focus {
        color: #343a40 !important;
        background-color: #ffc107;
        border-color: #343a40;
    }

.navbar-toggler {
    /*border-color: #f8f9fa;*/
}
/*#endregion*/