﻿@model List<SCM.AccountManagement.Model.TblUser>

@{
    ViewData["Title"] = "ShowUsers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul>
    @foreach (var item in Model)
    {
        <li>@item.FirstName @item.LastName</li>
    }
</ul>