﻿@inject SignInManager<TblUser> _signInManager

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>صفحه اصلی حساب کاربری</h1>

<br />

@if (_signInManager.IsSignedIn(User))
{
    <form asp-controller="@(nameof(SCM.UI.Razor.Controllers.AccountController).GetControllerName())" asp-action="@nameof(SCM.UI.Razor.Controllers.AccountController.LogOut)" method="post">
        <button type="submit" class="btn btn-dark">خروج</button>
    </form>
}