﻿@model SCM.AccountManagement.Model.ViewModels.Account.LoginViewModel

@{
    ViewData["Title"] = "صفحه ورود به حساب کاربری";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .fa-star {
        color: #dc3545;
        position: absolute;
        font-size: 7.5px;
        top: 2.5px;
        right: 2.5px;
    }

    .flex-center-right {
        display: flex;
        align-items: center;
        justify-content: right;
    }

    .field-validation-error {
        color: #dc3545;
    }

    label {
        text-align: right;
    }

    input[name=Mobile],
    input[name=Email],
    input[name=Password] {
        text-align: left;
        direction: ltr;
    }

    /*#region SVG CHECKBOX*/
    .hamid-checkbox {
        text-align: right;
    }

        .hamid-checkbox input[type=checkbox] {
            display: none;
            pointer-events: none;
        }

            .hamid-checkbox input[type=checkbox] + label {
                cursor: pointer;
            }

                .hamid-checkbox input[type=checkbox] + label svg {
                    width: 30px;
                    stroke: #dc3545;
                    stroke-width: 7;
                    fill: none;
                }

                    .hamid-checkbox input[type=checkbox] + label svg .box {
                        stroke-dasharray: 300;
                        stroke-dashoffset: 0;
                    }

                    .hamid-checkbox input[type=checkbox] + label svg .check {
                        stroke-dasharray: 80;
                        stroke-dashoffset: 80;
                        fill: none;
                    }

                .hamid-checkbox input[type=checkbox] + label span {
                }

            .hamid-checkbox input[type=checkbox]:checked + label .box {
                stroke-dashoffset: 300;
                transition: stroke-dashoffset 0.3s linear;
            }

            .hamid-checkbox input[type=checkbox]:checked + label .check {
                stroke-dashoffset: 0;
                transition: stroke-dashoffset 0.3s linear;
            }

    .reverse .box {
        stroke-dashoffset: 0;
        transition: stroke-dashoffset 0.3s linear;
    }

    .reverse .check {
        stroke-dashoffset: 80;
        transition: stroke-dashoffset 0.3s linear;
    }
    /*#endregion*/
</style>

<div class="card" style="margin: 1rem 0">
    <div class="card-body">
        <div class="row">
            <div class="col-xl-3 col-lg-2 col-md-1"></div>


            <div class="col-xl-6 col-lg-8 col-md-10">
                <form asp-controller="@(nameof(SCM.UI.Razor.Controllers.AccountController).GetControllerName())" asp-action="@nameof(SCM.UI.Razor.Controllers.AccountController.Login)" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>

                    <div class="form-group row">
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 flex-center-right">
                            <label asp-for="PhoneNumber"></label>
                        </div>
                        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                            <div style="position: relative">
                                <input asp-for="PhoneNumber" type="text" class="form-control" />
                                <i class="fa fa-star" data-toggle="tooltip" title="اجباری"></i>
                            </div>
                            <div class="text-right">
                                <span asp-validation-for="PhoneNumber"></span>
                            </div>
                        </div>
                    </div>

                    @*<div class="form-group row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 flex-center-right">
                    <label asp-for="Email"></label>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                    <div style="position: relative">
                        <input asp-for="Email" type="text" class="form-control" />
                        <i class="fa fa-star" data-toggle="tooltip" title="اجباری"></i>
                    </div>
                    <div class="text-right">
                        <span asp-validation-for="Email"></span>
                    </div>
                </div>
            </div>*@

                    <div class="form-group row">
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 flex-center-right">
                            <label asp-for="Password"></label>
                        </div>
                        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                            <div style="position: relative">
                                <input asp-for="Password" type="text" class="form-control" />
                                <i class="fa fa-star" data-toggle="tooltip" title="اجباری"></i>
                            </div>
                            <div class="text-right">
                                <span asp-validation-for="Password"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="hamid-checkbox">
                            <input asp-for="RememberMe" type="checkbox" id="RememberMe" />
                            <label asp-for="RememberMe" id="RememberMeLabel">
                                <svg viewBox="0 0 100 100">
                                    <path class="box" d="M82,89H18c-3.9,0-7-3.1-7-7V18c0-3.9,3.1-7,7-7h64c3.9,0,7,3.1,7,7v64C89,85.9,85.9,89,82,89z" />
                                    <polyline class="check" points="23.5,52.5 39.5,68.5 76.5,31.5 " />
                                </svg>
                                <span>مرا به خاطر بسپار</span>
                            </label>
                        </div>
                    </div>


                    <div class="text-center">
                        <input type="submit" class="btn btn-dark" value="ورود" />
                    </div>
                </form>
            </div>

            <div class="col-xl-3 col-lg-2 col-md-1"></div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/js/jquery.validate-1.19.0.min.js"></script>
    <script src="~/js/jquery.validate.unobtrusive-3.2.11.min.js"></script>

    <script>
        let rememberMe = document.getElementById("RememberMe");
        let rememberMeLabel = document.getElementById("RememberMeLabel");
        rememberMeLabel.addEventListener("click", () => {
            if (rememberMe.checked)
                rememberMeLabel.classList.add("reverse");
            else
                rememberMeLabel.classList.remove("reverse");
        });
    </script>
}