﻿@{
    ViewData["Title"] = "صفحه ثبت نام";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/persian-datepicker-1.2.0.min.css" rel="stylesheet" />

<style>
    .fa-star {
        color: #dc3545;
        position: absolute;
        font-size: 7.5px;
        top: 2.5px;
        right: 2.5px;
    }

    .flex-center-right {
        display: flex;
        align-items: center;
        justify-content: right;
    }

    .field-validation-error {
        color: #dc3545;
    }

    label {
        text-align: right;
    }

    input[name=FirstName],
    input[name=LastName],
    input[name=Address] {
        text-align: right;
        direction: rtl;
    }

    input[name=Mobile],
    input[name=Phone],
    input[name=Email],
    input[name=Password],
    input[name=RepeatPassword],
    input[name=RegistrationNumber],
    input[name=RegistrationPlace],
    input[name=RegistrationDate],
    input[name=NationalId],
    input[name=EconomicCode],
    input[name=DateOfBirth],
    input[name=NationalCode] {
        text-align: left;
        direction: ltr;
    }
</style>

<div class="card" style="margin: 1rem 0">
    <div class="card-body">
        <div class="row">
            <div class="col-xl-3 col-lg-2 col-md-1"></div>

            <div class="col-xl-6 col-lg-8 col-md-10">
                <div class="form-group row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 flex-center-right">
                        <label>نوع کاربر</label>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                        <div style="position: relative">
                            <select class="form-control" onchange="SelectUserType()">
                                <option>انتخاب کنید ...</option>
                                <option>حقوقی</option>
                                <option>حقیقی</option>
                            </select>
                            <i class="fa fa-star" data-toggle="tooltip" title="اجباری"></i>
                        </div>
                    </div>
                </div>

                <div class="form-group text-center">
                    <i class="fa fa-spinner fa-spin fa-3x text-info" style="display: none"></i>
                </div>

                <partial name="_RegisterLegalUserPartialView" />
                <partial name="_RegisterRealUserPartialView" />
                @*@await Html.PartialAsync("_RegisterLegalUserPartialView")
                    @await Html.PartialAsync("_RegisterRealUserPartialView")*@
            </div>

            <div class="col-xl-3 col-lg-2 col-md-1"></div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/js/persian-date-1.1.0.min.js"></script>
    <script src="~/js/persian-datepicker-1.2.0.min.js"></script>
    <script src="~/js/jquery.validate-1.19.0.min.js"></script>
    <script src="~/js/jquery.validate.unobtrusive-3.2.11.min.js"></script>

    <script>
        $(document).ready(function () {
            //#region Persian Datepicker
            $("#RegistrationDate").pDatepicker({
                format: 'YYYY/MM/DD',
                initialValue: false,
                autoClose: true,
            });

            $("#DateOfBirth").pDatepicker({
                format: 'YYYY/MM/DD',
                initialValue: false,
                autoClose: true,
            });
            //#endregion
        });

        function SelectUserType() {
            var selectUser = $('select').val();

            $("#RegisterLegalUserForm").slideUp();
            $("#RegisterRealUserForm").slideUp();

            $(".fa-spinner").slideDown();

            setTimeout(function() {
                if (selectUser == "حقوقی") {
                    $("#RegisterLegalUserForm").slideDown();
                    $("#RegisterRealUserForm").slideUp();
                    $(".fa-spinner").slideUp();
                } else if (selectUser == "حقیقی") {
                    $("#RegisterLegalUserForm").slideUp();
                    $("#RegisterRealUserForm").slideDown();
                    $(".fa-spinner").slideUp();
                } else {
                    $("#RegisterLegalUserForm").slideUp();
                    $("#RegisterRealUserForm").slideUp();
                    $(".fa-spinner").slideUp();
                }
            }, 1000);
        }
    </script>
}