﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap-4.4.1.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/font-awesome-5.11.2.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
</head>
<body>
    <!--#region MODAL -->
    @if (ViewBag.Message != null)
    {
        <div class="modal fade" id="message_modal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <i class="close btn btn-danger fas fa-times" data-dismiss="modal"></i>
                    </div>

                    <div class="modal-body text-center">
                        <h5 class="text-center alert @ViewBag.Message[1]">@ViewBag.Message[0]</h5>
                    </div>
                </div>
            </div>
        </div>
    }

    @if (ViewBag.ModelState != null)
    {
        <div class="modal fade" id="modelstete_modal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <i class="close btn btn-danger fas fa-times" data-dismiss="modal"></i>
                    </div>

                    <div class="modal-body text-center">
                        <ul class="list-unstyled">
                            @foreach (var item in ViewBag.ModelState)
                            {
                                <li style="margin-bottom: 0.5rem">
                                    <h5 class="text-center alert alert-info">@item</h5>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    }
    <!--#endregion -->

    <header class="container"></header>

    <main class="container">
        @RenderBody()
    </main>

    <footer class="container"></footer>

    <script src="~/js/jquery-3.4.1.min.js"></script>
    <script src="~/js/bootstrap-4.4.1.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

    <script>
        $(document).ready(function () {
            $('#message_modal').modal();
            $('#modelstete_modal').modal();

            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
</body>
</html>
