﻿@model SCM.AccountManagement.Model.ViewModels.Account.RegisterLegalUserViewModel

<form  asp-controller="@(nameof(SCM.UI.Razor.Controllers.AccountController).GetControllerName())" asp-action="@nameof(SCM.UI.Razor.Controllers.AccountController.RegisterLegalUser)" method="post" enctype="multipart/form-data" id="RegisterLegalUserForm" style="display: none">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group row">
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 flex-center-right">
            <label asp-for="FirstName"></label>
        </div>
        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
            <div style="position: relative">
                <input asp-for="FirstName" type="text" class="form-control" value="حمید" />
                <i class="fa fa-star" data-toggle="tooltip" title="اجباری"></i>
            </div>
            <div class="text-right">
                <span asp-validation-for="FirstName"></span>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 flex-center-right">
            <label asp-for="LastName"></label>
        </div>
        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
            <div style="position: relative">
                <input asp-for="LastName" type="text" class="form-control" value="فتحی" />
                <i class="fa fa-star" data-toggle="tooltip" title="اجباری"></i>
            </div>
            <div class="text-right">
                <span asp-validation-for="LastName"></span>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 flex-center-right">
            <label asp-for="PhoneNumber"></label>
        </div>
        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
            <div style="position: relative">
                <input asp-for="PhoneNumber" type="text" class="form-control" value="09125261762" />
                <i class="fa fa-star" data-toggle="tooltip" title="اجباری"></i>
            </div>
            <div class="text-right">
                <span asp-validation-for="PhoneNumber"></span>
            </div>
        </div>
    </div>

    @*<div class="form-group row">
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 flex-center-right">
            <label asp-for="Phone"></label>
        </div>
        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
            <div style="position: relative">
                <input asp-for="Phone" type="text" class="form-control" />
                <i class="fa fa-star" data-toggle="tooltip" title="اجباری"></i>
            </div>
            <div class="text-right">
                <span asp-validation-for="Phone"></span>
            </div>
        </div>
    </div>*@

    <div class="form-group row">
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 flex-center-right">
            <label asp-for="Email"></label>
        </div>
        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
            <div style="position: relative">
                <input asp-for="Email" type="text" class="form-control" value="hamidfathi66@gmail.com" />
                <i class="fa fa-star" data-toggle="tooltip" title="اجباری"></i>
            </div>
            <div class="text-right">
                <span asp-validation-for="Email"></span>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 flex-center-right">
            <label asp-for="Password"></label>
        </div>
        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
            <div style="position: relative">
                <input asp-for="Password" type="text" class="form-control" value="123456aA@@" />
                <i class="fa fa-star" data-toggle="tooltip" title="اجباری"></i>
            </div>
            <div class="text-right">
                <span asp-validation-for="Password"></span>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 flex-center-right">
            <label asp-for="RepeatPassword"></label>
        </div>
        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
            <div style="position: relative">
                <input asp-for="RepeatPassword" type="text" class="form-control" value="123456aA@@" />
                <i class="fa fa-star" data-toggle="tooltip" title="اجباری"></i>
            </div>
            <div class="text-right">
                <span asp-validation-for="RepeatPassword"></span>
            </div>
        </div>
    </div>

    @*<div class="form-group text-center">
        <label class="btn btn-info" for="file_selector_1">
            <input id="file_selector_1" type="file" name="ImageFile" style="display: none" onchange="$('#upload_file_info_1').html($(this).val());">
            عکس
        </label>
        <p class="text-center text-dark" id="upload_file_info_1" style="direction: ltr; margin-bottom: 0.5rem"></p>

        <p class="text-danger" style="margin: 0 0 0.5rem">توجه: باید یک عکس انتخاب نمایید</p>

        <p class="text-danger">تذکر 1: حجم عکس باید کمتر از 250 کیلو بایت باشد</p>
        <p class="text-danger">تذکر 2: فرمت عکس باید jpg و یا jpeg باشد</p>
        <p class="text-danger">تذکر 3: عکس باید طول و عرض بیش از 360 داشته باشد</p>
        <p class="text-danger">تذکر 4: عکس باید طول و عرض یکسانی داشته باشد</p>
        <p class="text-danger">تذکر 5: سایز پیشنهادی عکس، 360*360 می باشد</p>
    </div>

    <div class="form-group row">
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 flex-center-right">
            <label asp-for="RegistrationNumber"></label>
        </div>
        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
            <div style="position: relative">
                <input asp-for="RegistrationNumber" type="text" class="form-control" />
                <i class="fa fa-star" data-toggle="tooltip" title="اجباری"></i>
            </div>
            <div class="text-right">
                <span asp-validation-for="RegistrationNumber"></span>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 flex-center-right">
            <label asp-for="RegistrationPlace"></label>
        </div>
        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
            <div style="position: relative">
                <input asp-for="RegistrationPlace" type="text" class="form-control" />
                <i class="fa fa-star" data-toggle="tooltip" title="اجباری"></i>
            </div>
            <div class="text-right">
                <span asp-validation-for="RegistrationPlace"></span>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 flex-center-right">
            <label asp-for="RegistrationDate"></label>
        </div>
        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
            <div style="position: relative">
                <input asp-for="RegistrationDate" type="text" class="form-control" readonly />
                <i class="fa fa-star" data-toggle="tooltip" title="اجباری"></i>
            </div>
            <div class="text-right">
                <span asp-validation-for="RegistrationDate"></span>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 flex-center-right">
            <label asp-for="NationalId"></label>
        </div>
        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
            <div style="position: relative">
                <input asp-for="NationalId" type="text" class="form-control" />
                <i class="fa fa-star" data-toggle="tooltip" title="اجباری"></i>
            </div>
            <div class="text-right">
                <span asp-validation-for="NationalId"></span>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 flex-center-right">
            <label asp-for="EconomicCode"></label>
        </div>
        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
            <div style="position: relative">
                <input asp-for="EconomicCode" type="text" class="form-control" />
                <i class="fa fa-star" data-toggle="tooltip" title="اجباری"></i>
            </div>
            <div class="text-right">
                <span asp-validation-for="EconomicCode"></span>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 flex-center-right">
            <label asp-for="Address" class="control-label"></label>
        </div>
        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
            <div style="position: relative">
                <textarea asp-for="Address" class="form-control" rows="3"></textarea>
                <i class="fa fa-star" data-toggle="tooltip" title="اجباری"></i>
            </div>
            <div class="text-right">
                <span asp-validation-for="Address"></span>
            </div>
        </div>
    </div>*@

    <div class="text-center">
        <input type="submit" class="btn btn-dark" value="ثبت نام" />
    </div>
</form>