﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a class="btn btn-dark" asp-action="@nameof(SCM.UI.Razor.Controllers.AccountController.Login)" asp-controller="@(nameof(SCM.UI.Razor.Controllers.AccountController).GetControllerName())">صفحه ورود</a>

<br />

<a class="btn btn-dark" asp-action="@nameof(SCM.UI.Razor.Controllers.AccountController.Register)" asp-controller="@(nameof(SCM.UI.Razor.Controllers.AccountController).GetControllerName())">صفحه ثبت نام</a>

<br />

<a class="btn btn-dark" asp-action="@nameof(SCM.UI.Razor.Controllers.AdminController.Index)" asp-controller="@(nameof(SCM.UI.Razor.Controllers.AdminController).GetControllerName())">صفحه پنل مدیریت مدیران</a>

<br />

<a class="btn btn-dark" asp-action="@nameof(SCM.UI.Razor.Controllers.UserController.Index)" asp-controller="@(nameof(SCM.UI.Razor.Controllers.UserController).GetControllerName())">صفحه پنل مدیریت کاربران</a>